{{ .Project }}:
  image: rancher/load-balancer-service
  ports:
    - 8001:8001
  links:
    - {{ .Project }}-app:{{ .Project }}-app

{{ .Project }}-app:
  image: {{ .Owner }}/{{ .Project }}:{{ .Tag }}
  expose:
    - 8001
  environment:
    RANCHER_SERVICE_DISCOVERY: 'true'
    LISTEN_PORT: 8001
  labels:
    io.rancher.container.pull_image: always
    io.rancher.container.hostname_override: container_name
